@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .NavLinkhover{
        @apply hover:text-red
    }

  } 
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM sans", sans-serif;

  }
  
  html{
    scroll-behavior: smooth;
    
    
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
  }
  section {
    
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
  }


  .hover-rotate img {
    transition: all 0.5s;
    box-sizing: border-box;
  }
  .hover-rotate:hover span{
    color: #AF1B3F;
  }

  .hover-rotate:hover {
    transform: scale(1.05) ;
  }


  .hover-rotate:hover img {
    transform: scale(1.2) rotate(360deg);
  }

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(185, 185, 185);
  border: 3px solid var(--primary);
}

